
@{
    ViewBag.Title = "Banco Agrícola";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="table-DAP">
    <table>
        <tr>
            <th>
                &nbsp; Total cuentas: &nbsp;
            </th>
            <th>
                &nbsp; Total préstamos: &nbsp;
            </th>
            <th>
                &nbsp; Total DAP: &nbsp;
            </th>
        </tr>
        <tr>
            <td>&nbsp;$3 692.45&nbsp;</td>
            <td>&nbsp;$0.00&nbsp;</td>
            <td>&nbsp;$0.00&nbsp;</td>
        </tr>
    </table>
</div>
<section>
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>                        
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            $3 692.45
                            <br />
                            <span class="campo">SALDO DISPONIBLE</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            003020561413<br />
                            <span class="campo">N°</span>
                        </p>                       
                    </div>
                    <div class="Movimientos">
                        <p>
                            <a href="/Manage/Movimientos" >Movimientos</a>
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            <a href="#">Pago de servicios</a>
                        </p>
                    </div>
                </div>
                <div class="estado">
                    <p>
                        ACTIVA
                        <br />
                        <span class="campo">ACTIVA</span>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
