
@{
    ViewBag.Title = "Banco Agrícola";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="container">
    <div class="table-DAP">
        <table class="table-DAP">
            <tr>
                <th>
                    &nbsp; Total cuentas: &nbsp;
                </th>
                <th>
                    &nbsp; Total préstamos: &nbsp;
                </th>
                <th>
                    &nbsp; Total DAP: &nbsp;
                </th>
            </tr>
            <tr>
                <td>&nbsp;$6 696.26&nbsp;</td>
                <td>&nbsp;$0.00&nbsp;</td>
                <td>&nbsp;$0.00&nbsp;</td>
            </tr>
        </table>
    </div>
    <br />
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            003020561413
                            <br />
                            <span class="campo">Deposito a libro</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            TRF_Transac#22501<br />
                            <span class="campo">COD_</span>
                        </p>
                    </div>
                    <div class="Movimientos">
                        <p>
                            <a href="/Manage/Movimientos">Movimientos</a><br />
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            <a href="#" class="Pagos">Pago de Servicios</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container-mobile">
        <div class="saldo">
            <div class="disponible">
                <p>
                    003020561413
                    <br />
                    <span class="campo">Deposito a libro</span>
                </p>
            </div>
            <div class="numerocuenta">
                <p>
                    TRF_Transac#22501<br />
                    <span class="campo">COD_</span>
                </p>
            </div>
            <div class="servicios">
                <p>
                    <a href="/Manage/Movimientos">Movimientos</a><br />
                </p>
            </div>
            <div class="estado">
                <p>
                    <a href="#" class="Pagos">Pago de Servicios</a>
                </p>
            </div>
        </div>
    </div>
  </div>

    @section scripts{

        <script>

            $(document).ready(function () {

                $(".Pagos").click("onclick", function () {
                    Swal.fire(
                  'Lo Sentimos!',
                  'Esta opcion no se encuentra disponible por el momento!',
                  'warning')
                });

            });
        </script>

    }
