
@{
    ViewBag.Title = "Movimientos";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}


<div class="container">
    <div class="table-DAP">
        <table class="table-DAP">
            <tr>
                <th>
                    &nbsp; Total cuentas: &nbsp;
                </th>
                <th>
                    &nbsp; Total préstamos: &nbsp;
                </th>
                <th>
                    &nbsp; Total DAP: &nbsp;
                </th>
            </tr>
            <tr>
                <td>&nbsp;$6 696.26&nbsp;</td>
                <td>&nbsp;$0.00&nbsp;</td>
                <td>&nbsp;$0.00&nbsp;</td>
            </tr>
        </table>
    </div>
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            003020561413
                            <br />
                            <span class="campo">Deposito a libro</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            TRF_Transac#22501<br />
                            <span class="campo">COD_</span>
                        </p>
                    </div>
                    <div class="Movimientos">
                        <p>
                            $3 400<br />
                            <span class="campo">Tranferencia Bancaria</span>
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            28/07/2020 2:54 pm<br />
                            <span class="campo">Fecha</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            003020561413
                            <br />
                            <span class="campo">Debito a libro</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            DB_SegFam#24396<br />
                            <span class="campo">COD_</span>
                        </p>
                    </div>
                    <div class="Movimientos">
                        <p>
                            -$1.87<br />
                            <span class="campo">Debito Bancario</span>
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            28/07/2020 3:12 pm<br />
                            <span class="campo">Fecha</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            003020561413
                            <br />
                            <span class="campo">Deposito a libro</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            TRF_Transac#24011<br />
                            <span class="campo">COD_</span>
                        </p>
                    </div>
                    <div class="Movimientos">
                        <p>
                            $300<br />
                            <span class="campo">Tranferencia Bancaria</span>
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            27/08/2020 2:28 pm<br />
                            <span class="campo">Fecha</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            003020561413
                            <br />
                            <span class="campo">Deposito a libro</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            TRF_Transac#27483<br />
                            <span class="campo">COD_</span>
                        </p>
                    </div>
                    <div class="Movimientos">
                        <p>
                            $3 000<br />
                            <span class="campo">Tranferencia Bancaria</span>
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            14/09/2020 1:46 pm<br />
                            <span class="campo">Fecha</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="estadocuentacard">
        <div class="grid-container-estado">
            <div class="cuentacard">
                <div class="textotitle">
                    <p>
                        003020561413 Cuenta de Ahorros<br />
                        <span class="campo">UNIDOS</span>
                    </p>
                </div>
                <div class="saldo">
                    <div class="disponible">
                        <p>
                            003020561413
                            <br />
                            <span class="campo">Debito a libro</span>
                        </p>
                    </div>
                    <div class="numerocuenta">
                        <p>
                            DB_SegFam#29506<br />
                            <span class="campo">COD_</span>
                        </p>
                    </div>
                    <div class="Movimientos">
                        <p>
                            -$1.87<br />
                            <span class="campo">Debito Bancario</span>
                        </p>
                    </div>
                    <div class="servicios">
                        <p>
                            17/09/2020 8:12 am<br />
                            <span class="campo">Fecha</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




