@{
    ViewBag.Title = "Banco Agrícola";
}

<section>
    <center>
        <img src="~/Content/img/Edicio-Administrativo-SJM.jpg" alt="edificio" class="responsive">
    </center>
</section>
<br />
<br />
<section>
    <h2 class="BancaMovil">Te hacemos la vida más fácil</h2>
    <br />
    <div  class="cards-tools">
        <div class="container-cards-e">
            <div class="card mb-0" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/img/BancaMovil.jpg" class="img-fluid" style="max-height:500px" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Banca Móvil</h5>
                            <p class="card-text"><b>¡Atrévete a usar el ban de otra forma!</b></p>
                            <br />
                            <p class="card-text">Realiza tus transacciones bancarias de manera fácil, amigable y segura desde cualquier lugar y en el momento en que lo necesites.</p>
                            <a href="#" class="e-btn">Conoce más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<br />
<br />

<section>
    <h2 class="BancaMovil">Descubre nuestras soluciones</h2>
    <br />
    <div class="row row-cols-1 row-cols-md-3" style="width:85%; margin:auto">
        <div class="card" style="border:none">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/Content/img/icon-6.png" class="card-img" style="max-width:100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cuentas de ahorro</h5>
                        <p class="card-text">Obtén las herramientas financieras para que construyas un mejor futuro.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:none">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/Content/img/icon-5.png" class="card-img" alt="..." style="max-width:100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tarjetas de crédito</h5>
                        <p class="card-text">Conoce un mundo de nuevas oportunidades y experiencias, al disfrutar de múltiples beneficios exclusivos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:none">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/Content/img/icon-4.png" class="card-img" alt="..." style="max-width:100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Créditos</h5>
                        <p class="card-text">Encuentra el producto que mejor responda a tus necesidades y haz realidad tus proyectos de vida.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:none">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/Content/img/icon-3.png" class="card-img" alt="..." style="max-width:100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Seguros</h5>
                        <p class="card-text">Asegura tu futuro con soluciones integrales que te brindan tranquilidad y el respaldo que nos caracteriza.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:none">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/Content/img/icon-2.png" class="card-img" alt="..." style="max-width:100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cobro de Remesas</h5>
                        <p class="card-text">Recibe tu remesa familiar de la forma más rápida y segura, con más de mil puntos de servicio a tu alcance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="border:none">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="~/Content/img/icon-1-1.png" class="card-img" alt="..." style="max-width:100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Salvadoreños en el exterior</h5>
                        <p class="card-text">Fortalece tus lazos de cercanía llevando a cabo tus proyectos personales y familiares.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>