@{
    ViewBag.Title = "Banco Agrícola";
}

<section>
    <center>
        <img src="~/Content/img/Edicio-Administrativo-SJM.jpg" alt="edificio" class="responsive">
    </center>
</section>
<br />
<br />
<section>
    <h2 class="BancaMovil">Te hacemos la vida más fácil</h2>
    <br />
    <div  class="cards-tools">
        <div class="container-cards-e">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/img/BancaMovil.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Banca Móvil</h5>
                            <p class="card-text"><b>¡Atrévete a usar el ban de otra forma!</b></p>
                            <br />
                            <p class="card-text">Realiza tus transacciones bancarias de manera fácil, amigable y segura desde cualquier lugar y en el momento en que lo necesites.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
   