
div.table-DAP {
    width: 100%;
}

table.table-DAP{
    top:4.5rem;
    font-family: inherit;
    position:absolute;
    right:0;
    margin: 2rem;
    z-index:-1;
}


td{    
    background-color:#F5F7F9;
}

th{
    background-color:#00448C;
    color:#F5F7F9;
    border: 1px solid #F5F7F9;
}

.estadocuentacard{
    width: 70%;
    color:#00448C;
    position:absolute;
    right:0;
    margin-top:15rem;
    margin-right:3rem;
    border-top: 5px solid;
    border-radius: 15px;
    padding:1rem;
    background:#F5F7F9;
}

span.campo{
    color:#C4BAB9;
}

.grid-container-estado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px 1px;
}

.disponible p, .numerocuenta p, .Movimientos p,.servicios p, .estado p, .textotitle p{
    color:#306EA9;
    font-family: 'Nunito';
}  

.cuentacard {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px 1px;
  grid-area: 1 / 1 / 4 / 5;
}

.textotitle { grid-area: 1 / 1 / 2 / 4; }

.saldo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-area: 2 / 1 / 3 / 4;
}

.disponible { grid-area: 1 / 1 / 2 / 2; }

.numerocuenta { grid-area: 1 / 2 / 2 / 3; }

.Movimientos { grid-area: 1 / 3 / 2 / 4; }

.servicios { grid-area: 1 / 4 / 2 / 5; }

.estado { grid-area: 3 / 1 / 4 / 4; }


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

nav.superior{
    display: flex;
    position:fixed;
    z-index:1;
    background-color: #F5F7F9;
    width: 100%;
    height:5.5rem;
    border-bottom: 3px solid #F5C84B;
}

nav.superior img{
    width: 17%;
}

a.link-tp {
    color: #2A4990;
    text-decoration: none;
    margin-left: 2rem;
}

a.link-tp:hover {
    color: #2A4990;
    text-decoration: none;
    margin-left: 2rem;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#sidebar {
    width: 140px;
    position: fixed;
    top:5.5rem;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #F5F7F9;
    color: #2A4990;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}


#sidebar ul{
    text-align:center;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #2A4990;
}

#sidebar ul li a:hover {
    color: #2A4990;
    text-decoration:none;
}


footer{
    background-color:#F5F7F9;
    color:#2A4990;    
    text-align:center;
    position: fixed;
    bottom: 0;
    width:100%;
}

.mobile-navbar{
    display:none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .Movimientos{
        display: none;
    }
    .servicios{
        display: none;
    }
    .numerocuenta{
        display: none;
    }

    nav.superior{
        display:none;
    }

    .mobile-navbar{
         display:inline;
         z-index:1;
    }

    ul.navbar-nav li a i{
        color: #2A4990;
    }
    .mobile-navbar img{
        width:35%;
        margin:0;
        padding:0;
    }
    .table-DAP{
    top:10rem;
}

    a.navbar-brand{
        color: #2A4990;
        font-size:small;
        
    }

    div.table-DAP {
    width: 100%;
    margin-top:4rem;
    }

    table.table-DAP{
        top:7rem;
        font-family: inherit;
        position:absolute;
        right:0;
        z-index:-1;
    }
    .estadocuentacard{
        width: 70%;
        height:40%;
        color:#00448C;
        position:absolute;
        right:0;
        margin-top:3rem;
        margin-right:3rem;
        border-top: 5px solid;
        border-radius: 15px;
        padding:1rem;
        background:#F5F7F9;
    }
}